.item input{
    width:25px;
}
body{
    background-color:rgb(219, 217, 217);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(175, 173, 173);
    text-align:center;
    color:black;
    width:100%;
    position: fixed;
    left:0;
    top:0;
}
.navbar a{
    font-size: 20px;
    text-decoration: none;
    margin:5px;
    color:black;
    width: 100%;
    padding:30px;
    border-radius: 10px;;
}
.navbar a:hover{
    background-color:black;
    color:white;
}
.navbar h4:hover{
    background-color:black;
    color:lime;  
}
.navbar h4{
    text-align:center;
    margin: 10px 5px 10px 15px;
    background-color:rgb(175, 173, 173);
    color:black;
    width:100%;
    padding-top: 21px;
    border-radius: 20px;
    font-family:Kristen ITC;
    font-size:23px;
}
.navbar img{
    height:30px;
    width:35px;
}
.item{
    display: flex;
    flex-direction:column;
    gap:8px;
    width:auto;
    align-items:center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.item:hover{
    box-shadow: 0 0 100px 10px grey;
}
.container{
    display: flex;
    flex-wrap:wrap;
    gap:10px;
    padding:10px;
    width:100%;
    margin-top:100px;
    justify-content: center;
}
.item img{
    width:250px;
    height:250px;
    border:white;
}
.itemInfo{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.costs{
    display:flex;
    gap:5px;
}
.costs h6{
    display: block;
    padding:1px 0;
}

.container1{
    width:1300px;
    margin: 50px 10px 50px 10px;
    background-color: white;
    padding:5px;
    display:flex;
    flex-direction:column;
    gap:2px;
}
.item1 img{
    width:400px;
}
.foot{
    text-align:right;
}
.head{
    display:flex;
    justify-content: space-between;
    margin:0;
    height:60px;
    width:100%;
}
hr{
    width:100%;
    border:1 solid rgb(218, 216, 216);
    margin:0;
}
.item1{
    display:flex;
    gap:5px;
    padding-right:0px;
}
.desc{
    display:flex;
    flex-direction:column;
    width:100%;
    margin-right:0;
}
.desc h3, h5{
    margin:0;
}
.allContent{
    display:flex;
    flex-wrap:nowrap;
    margin-top:100px;
    justify-content: center;
}
.sideMenu span{
    color:green;
}
.sideMenu{
    background-color: white;
    text-align:center;
    height:30%;
    width:auto;
    margin-top:50px;
    padding:15px;
}
.sideMenu p{
    font-size:10px;
    margin:0;
}
button{
    background-color:rgb(255, 217, 0);
    border-radius: 20px;
    border: white;
    padding:5px;
    width:250px;
}
